*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    src: url("../fonts/Tapestry-Regular.ttf");
    font-family: Tapestry;
}
.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.33%; }
.col-12 { width: 100%; }

[class*="col-"]
{
    float: left;
    border: 1px solid;
}
.row:after
{
    content: "";
    clear: both;
    display: block;
    position: relative;
}
.container
{
    width: 90%;
    height: auto;
    margin: 0 auto;
}
.h-50{ height: 50px; }
.h-40{ height: 60px; }
.h-200{ height: 200px; }
.h-250{ height: 250px; }
.h-600{ height: 600px; }

nav
{
    background: red;
    float: left;
    width: 100%;
}
nav ul li
{
    float: left;
    list-style-type: none;
    width: 120px;
    border-right: 2px solid #d0b2b2;
    position: relative;
}
nav ul li a
{
    height: 48px;
    display: block;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    transition: 2s;
    font-family: Tapestry;
}
nav ul li a:hover
{
    background: #3131b3;
}
.sub-nav
{
    display: none;
}
.sub-nav li
{
    width: 180px;
    border-right: none;
}
nav ul li:hover .sub-nav
{
    background: red;
    display: block;
    position: absolute;
}
.box-one
{
    width: 200px;
    height: 200px;
    background-color: blue;
    margin: 20px 30px;
    animation: seip 2s infinite;
}
@keyframes seip {
    0% {
        background-image: url("../images/1.jpg");
    }
    50% {
        background-image: url("../images/2.jpg");
    }
    100% {
        background-image: url("../images/3.jpg");
    }
}
@media screen and (max-width: 550px)
{
    [class*="col-"]
    {
        width: 100%;
    }
}
@media screen and (min-width:551px) and (max-width: 850px) {
    .col-m-1 { width: 8.33%; }
    .col-m-2 { width: 16.66%; }
    .col-m-3 { width: 25%; }
    .col-m-4 { width: 33.33%; }
    .col-m-5 { width: 41.66%; }
    .col-m-6 { width: 50%; }
    .col-m-7 { width: 58.33%; }
    .col-m-8 { width: 66.66%; }
    .col-m-9 { width: 75%; }
    .col-m-10 { width: 83.33%; }
    .col-m-11 { width: 91.33%; }
    .col-m-12 { width: 100%; }
    .p-relative { position: relative; }
    .search
    {
        right: 0;
        position: absolute;
    }
}